In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('task1_dataset.csv')

In [6]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),1,0,0,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),1,0,0,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),1,0,0,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),0,0,0,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),1,0,0,No,4,4.8,Dark Green,Excellent,229

##  Step 1: Explore Statistical Summary
         Goal: Get a quick overview of the dataset's numerical and categorical features.

In [9]:
# View statistical summary for numeric columns
df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,68.176688,27.274530,1199.210763,0.121244,0.256622,0.003560,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,38.712304,9.247629,16121.183073,0.326428,0.436792,0.059561,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.094647,28.501221,250.000000,0.000000,0.000000,0.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.198219,28.574530,400.000000,0.000000,0.000000,0.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.289188,28.642989,700.000000,0.000000,1.000000,0.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,1.000000,1.000000,1.000000,4.000000,4.900000,10934.000000

#### Analyze Outliers in Key Columns
    Identify Outliers in "Average Cost for Two"

In [12]:
# Restaurants with the highest cost
df[df['Average Cost for two'] == df['Average Cost for two'].max()]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
9283,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",...,Indonesian Rupiah(IDR),0,0,0,No,3,4.1,Green,Very Good,1498
9284,7410290,Satoo - Hotel Shangri-La,94,Jakarta,"Hotel Shangri-La, Jl. Jend. Sudirman","Hotel Shangri-La, Sudirman","Hotel Shangri-La, Sudirman, Jakarta",106.818961,-6.203292,"Asian, Indonesian, Western",...,Indonesian Rupiah(IDR),0,0,0,No,3,4.6,Dark Green,Excellent,873

In [14]:
# Restaurants with the lowest cost (possibly errors)
df[df['Average Cost for two'] == df['Average Cost for two'].min()]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
84,17284105,Cookie Shoppe,216,Albany,"115 N Jackson St, Albany, GA 31701",Albany,"Albany, Albany",-84.154000,31.577200,NaN,...,Dollar($),0,0,0,No,1,3.4,Orange,Average,34
85,17284302,El Vaquero Mexican Restaurant,216,Albany,"2700 Dawson Rd, Albany, GA 31707",Albany,"Albany, Albany",-84.219400,31.615800,Mexican,...,Dollar($),0,0,0,No,1,3.4,Orange,Average,45
87,17284211,Pearly's Famous Country Cookng,216,Albany,"814 N Slappey Blvd, Albany, GA 31701",Albany,"Albany, Albany",-84.175900,31.588200,NaN,...,Dollar($),0,0,0,No,1,3.4,Orange,Average,36
201,17330155,Deorio's,216,Columbus,"3201 Macon Rd Ste 167, Columbus, GA 31906",Columbus,"Columbus, Columbus",-84.942700,32.481000,"Italian, Pizza",...,Dollar($),0,0,0,No,1,4.0,Green,Very Good,170
240,17334679,Azteca,216,Davenport,"4811 N Brady St Ste 3, Davenport, IA 52806",Davenport,"Davenport, Davenport",-90.568300,41.569900,Mexican,...,Dollar($),0,0,0,No,1,4.3,Green,Very Good,167
277,17342548,Happy Joe's Pizza & Ice Cream,216,Dubuque,"855 Century Dr, Dubuque, IA 52002",Dubuque,"Dubuque, Dubuque",-90.726400,42.495500,"Desserts, Pizza, Ice Cream",...,Dollar($),0,0,0,No,1,3.5,Yellow,Good,74
346,17606621,HI Lite Bar & Lounge,216,Miller,"109 N Broadway Ave, Miller, SD 57362",Miller,"Miller, Miller",-98.989100,44.515800,NaN,...,Dollar($),0,0,0,No,1,3.4,Orange,Average,11
397,17582499,Royal Hotel,216,Pocatello,"11 E Main St, Lava Hot Springs, ID 83246",Lava Hot Springs,"Lava Hot Springs, Pocatello",-112.012700,42.619200,"Pizza, Bar Food",...,Dollar($),0,0,0,No,1,3.6,Yellow,Good,59
407,17582627,Senor Iguanas,216,Pocatello,"961 Hiline Rd, Pocatello, ID 83201",Pocatello,"Pocatello, Pocatello",-112.443300,42.894200,Mexican,...,Dollar($),0,0,0,No,1,3.6,Yellow,Good,108
634,3400073,The Latitude - Radisson Blu,1,Agra,"Radisson Blu, Taj East Gate Road, Tajganj, Agra","Radisson Blu, Tajganj","Radisson Blu, Tajganj, Agra",78.057044,27.163303,"North Indian, Chinese, Continental",...,Indian Rupees(Rs.),0,0,0,No,1,3.9,Yellow,Good,103
637,3400346,Sheroes Hangout,1,Agra,"Opposite The Gateway Hotel, Fatehabad Road, Ta...",Tajganj,"Tajganj, Agra",78.040165,27.161850,"Cafe, North Indian, Chinese",...,Indian Rupees(Rs.),0,0,0,No,1,4.9,Dark Green,Excellent,77
639,3400391,Chapter 1 Cafe,1,Agra,"1374 K/1375 K, 2nd floor, Dinesh Nagar, Fatehb...",Tajganj,"Tajganj, Agra",78.032615,27.166690,"Cafe, Italian, Mexican, North Indian, Continental",...,Indian Rupees(Rs.),0,0,0,No,1,3.9,Yellow,Good,98
677,18317988,The BrewMaster,1,Allahabad,"Near Vishal Megamart, Civil Lines, Allahabad",Civil Lines,"Civil Lines, Allahabad",81.832796,25.451646,"North Indian, Chinese, Italian",...,Indian Rupees(Rs.),0,0,0,No,1,3.3,Orange,Average,49
851,18279289,BMG - All Day Dining,1,Dehradun,"140 A, Rajpur Road, Jakhan, Dehradun",Jakhan,"Jakhan, Dehradun",78.068890,30.362686,"Chinese, North Indian, Fast Food",...,Indian Rupees(Rs.),0,0,0,No,1,4.3,Green,Very Good,63
2364,2300497,Atmosphere Grill Cafe Sheesha,1,Kanpur,"8th Floor, J.S. Tower, 16/106 - Mall Road, Kan...",Mall Road,"Mall Road, Kanpur",80.354002,26.472001,"Indian, Chinese, Continental",...,Indian Rupees(Rs.),0,0,0,No,1,3.6,Yellow,Good,34
2368,18312106,UrbanCrave,1,Kanpur,"14/125, The Mall, Mall Road, Colonelganj, Para...",Parade,"Parade, Kanpur",80.342796,26.474986,"Cafe, Continental, Desserts, Ice Cream, Italia...",...,Indian Rupees(Rs.),0,0,0,No,1,3.9,Yellow,Good,127
9242,3900245,Deena Chat Bhandar,1,Varanasi,"D-47/184, Luxa Road, Dashaswmedh Road, Varanasi",Dashaswmedh Road,"Dashaswmedh Road, Varanasi",82.992199,25.309059,Street Food,...,Indian Rupees(Rs.),0,0,0,No,1,3.8,Yellow,Good,78
9254,18246202,VNS Live Studio,1,Varanasi,"Hotel Varuna Ground Floor, 22 Gulab Bagh, Sigr...",Sigra,"Sigra, Varanasi",82.991694,25.318345,"Chinese, North Indian",...,Indian Rupees(Rs.),0,0,0,No,1,3.5,Yellow,Good,109

2. Analyze Restaurants with the Most Votes
   
Let’s find which restaurants have the highest customer engagement.

👉 Find restaurants with the most votes:

In [17]:
# Restaurants with the highest votes
df[df['Votes'] == df['Votes'].max()]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
728,51705,Toit,1,Bangalore,"298, Namma Metro Pillar 62, 100 Feet Road, Ind...",Indiranagar,"Indiranagar, Bangalore",77.640709,12.979166,"Italian, American, Pizza",...,Indian Rupees(Rs.),0,0,0,No,4,4.8,Dark Green,Excellent,10934

3. Explore Restaurants with Perfect or No Ratings

Let’s check for top-rated and unrated restaurants.

👉 Find top-rated restaurants (4.9 rating):

In [20]:
# Restaurants with the highest rating (4.9)
df[df['Aggregate rating'] == df['Aggregate rating'].max()]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),0,0,0,No,4,4.9,Dark Green,Excellent,365
8,6300010,Spiral - Sofitel Philippine Plaza Manila,162,Pasay City,"Plaza Level, Sofitel Philippine Plaza Manila, ...","Sofitel Philippine Plaza Manila, Pasay City","Sofitel Philippine Plaza Manila, Pasay City, P...",120.980090,14.552990,"European, Asian, Indian",...,Botswana Pula(P),1,0,0,No,4,4.9,Dark Green,Excellent,621
10,6309903,Silantro Fil-Mex,162,Pasig City,"75 East Capitol Drive, Kapitolyo, Pasig City",Kapitolyo,"Kapitolyo, Pasig City",121.057916,14.567689,"Filipino, Mexican",...,Botswana Pula(P),0,0,0,No,3,4.9,Dark Green,Excellent,1070
39,6600427,Coco Bambu,30,Bras�_lia,"SCES, Trecho 2, Conjunto 13/36, Setor de Clube...",Setor De Clubes Esportivos Sul,"Setor De Clubes Esportivos Sul, Bras�_lia",-47.868500,-15.819000,International,...,Brazilian Real(R$),0,0,0,No,4,4.9,Dark Green,Excellent,30
48,7300955,Braseiro da G��vea,30,Rio de Janeiro,"Pra�_a Santos Dumont, 116, G��vea, Rio de Janeiro",G��vea,"G��vea, Rio de Janeiro",-43.227042,-22.973507,"Brazilian, Bar Food",...,Brazilian Real(R$),0,0,0,No,4,4.9,Dark Green,Excellent,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9484,75989,Restaurant Mosaic @ The Orient,189,Pretoria,"The Orient Boutique Hotel, Crocodile River Val...",West Park,"West Park, Pretoria",27.999097,-25.761238,French,...,Rand(R),0,0,0,No,4,4.9,Dark Green,Excellent,85
9514,5800176,Ministry of Crab,191,Colombo,"Old Colombo Dutch Hospital, Fort, Colombo 01","Old Dutch Hospital, Fort","Old Dutch Hospital, Fort, Colombo",79.844239,6.932814,Seafood,...,Sri Lankan Rupee(LKR),0,0,0,No,4,4.9,Dark Green,Excellent,203
9524,6004011,Gaga Manjero,208,Ankara,"Gazi Osman Pa��a Mahallesi, Filistin Caddesi, ...",Gazi Osman Pa��a,"Gazi Osman Pa��a, Ankara",32.869800,39.898239,World Cuisine,...,Turkish Lira(TL),0,0,0,No,3,4.9,Dark Green,Excellent,95
9538,5901782,Starbucks,208,��stanbul,"Bebek Mahallesi, Cevdetpa��a Caddesi, No 30/A,...",Bebek,"Bebek, ��stanbul",29.043734,41.077696,Cafe,...,Turkish Lira(TL),0,0,0,No,2,4.9,Dark Green,Excellent,1042
9540,5927248,Draft Gastro Pub,208,��stanbul,"Caddebostan Mahallesi, Ba��dat Caddesi, No 349...",Caddebostan,"Caddebostan, ��stanbul",29.074116,40.963935,Bar Food,...,Turkish Lira(TL),0,0,0,No,4,4.9,Dark Green,Excellent,522

In [22]:
# Restaurants with no rating
df[df['Aggregate rating'] == 0.0]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
30,6600060,Sandubas Caf��,30,Bras�_lia,"Edif�_cio Jos�� Severo, SCS 6, Bloco A, Loja 9...",Asa Sul,"Asa Sul, Bras�_lia",-47.890167,-15.797000,"Brazilian, Cafe",...,Brazilian Real(R$),0,0,0,No,1,0.0,White,Not rated,2
58,7305048,Quiosque Chopp Brahma,30,Rio de Janeiro,"Madureira Shopping - Loja 289/290, Piso 2, Est...",Madureira,"Madureira, Rio de Janeiro",-43.341164,-22.870413,"Bar Food, Brazilian",...,Brazilian Real(R$),0,0,0,No,3,0.0,White,Not rated,1
69,6710645,Cantinho da Gula,30,S��o Paulo,"Rua Pedroso Alvarenga, 522, Itaim Bibi, S��o P...",Itaim Bibi,"Itaim Bibi, S��o Paulo",-46.675667,-23.581000,Brazilian,...,Brazilian Real(R$),0,0,0,No,2,0.0,White,Not rated,0
77,6701419,Divino Fog��o,30,S��o Paulo,"Shopping Metr�� Santa Cruz - Piso L2, Rua Domi...","Shopping Metr�� Santa Cruz, Vila Mariana","Shopping Metr�� Santa Cruz, Vila Mariana, S��o...",-46.637167,-23.599500,"Brazilian, Mineira",...,Brazilian Real(R$),0,0,0,No,3,0.0,White,Not rated,2
78,6703956,Super Grill,30,S��o Paulo,"Shopping Morumbi - Piso Lazer, Avenida Roque P...","Shopping Morumbi, Santo Amaro","Shopping Morumbi, Santo Amaro, S��o Paulo",-46.698574,-23.622925,Brazilian,...,Brazilian Real(R$),0,0,0,No,2,0.0,White,Not rated,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9109,18277023,Bread & Pasta,1,Noida,"Shop 15, Near HDFC Bank, Tulip Mall, Sector 48...","Tulip Mall, Sector 48, Noida","Tulip Mall, Sector 48, Noida, Noida",77.367303,28.557929,Fast Food,...,Indian Rupees(Rs.),0,0,0,No,1,0.0,White,Not rated,1
9110,18313203,Chillies Cafe,1,Noida,"G-11, Tulip Mall, Sector 48, Noida","Tulip Mall, Sector 48, Noida","Tulip Mall, Sector 48, Noida, Noida",77.367188,28.557842,Fast Food,...,Indian Rupees(Rs.),0,0,0,No,2,0.0,White,Not rated,3
9111,18254559,Platters,1,Noida,"Shop 1, Tulip Mall, Near HDFC Bank, Sector 48,...","Tulip Mall, Sector 48, Noida","Tulip Mall, Sector 48, Noida, Noida",77.367322,28.557930,"North Indian, Chinese",...,Indian Rupees(Rs.),0,0,0,No,2,0.0,White,Not rated,0
9112,18255132,The Grand,1,Noida,"G-5, Tulip Mall, Sector 48, Noida","Tulip Mall, Sector 48, Noida","Tulip Mall, Sector 48, Noida, Noida",77.367188,28.557852,"Raw Meats, Fast Food",...,Indian Rupees(Rs.),0,0,0,No,1,0.0,White,Not rated,1
9351,18273002,Damascena Coffee House,215,Birmingham,"133 Alcester Road, Moseley, Birmingham",Moseley,"Moseley, Birmingham",-1.888555,52.446302,"Greek, Mediterranean, Middle Eastern",...,Pounds(��),0,0,0,No,2,0.0,White,Not rated,3

 Step 1: Identify the Top Cities by Restaurant Count

Objective: Find out which cities have the most and least restaurants.

In [25]:
# Top 10 cities with the most restaurants
df['City'].value_counts().head(10)

City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Amritsar          21
Ahmedabad         21
Lucknow           21
Guwahati          21
Name: count, dtype: int64

Step 2: Analyze Rated vs. Not Rated Restaurants in Each City

Objective: Understand how many restaurants are rated vs. unrated across cities.

👉 Check the rated/unrated distribution by city:

In [28]:
# Count rated and unrated restaurants by city
df.groupby('City')['Aggregate rating'].value_counts()

City       Aggregate rating
Abu Dhabi  4.0                 5
           4.6                 4
           4.2                 2
           4.3                 2
           4.4                 2
                              ..
��stanbul  4.7                 2
           4.9                 2
           4.1                 1
           4.3                 1
           4.5                 1
Name: count, Length: 946, dtype: int64

Step 3: Find Cities with the Highest Average Rating

Objective: Discover which cities have the best-rated restaurants on average.

👉 Find the top-rated cities:

In [31]:
# Average rating by city (sorted)
print(df.groupby('City')['Aggregate rating'].mean().sort_values(ascending=False).head(10))

City
Inner City          4.900000
Quezon City         4.800000
Makati City         4.650000
Pasig City          4.633333
Mandaluyong City    4.625000
Beechworth          4.600000
London              4.535000
Taguig City         4.525000
Tagaytay City       4.500000
Secunderabad        4.500000
Name: Aggregate rating, dtype: float64

### 📊 City-Wise Analysis Summary:

1. **Top Cities by Restaurant Count:**
   - **New Delhi** leads with **5473** restaurants—significantly more than any other city.  
   - Other major cities include **Gurgaon (1118)** and **Noida (1080)**.

2. **Rated vs. Unrated Restaurants:**
   - Cities like **Abu Dhabi** and **Istanbul** show a variety of ratings.  
   - We'll explore **cities with high unrated** entries next.

3. **Cities with the Highest Average Ratings:**
   - **Inner City** (4.9) and **Quezon City** (4.8) have the **highest** average ratings.  
   - **Makati City** and **Pasig City** also have consistently **high ratings**.

4. **Next Steps (Tomorrow, InshaAllah):**
   - Continue exploring **city-level trends**.
   - Analyze **customer engagement** and **vote patterns** by city.

Next Steps for City-Wise Analysis:

   1️⃣ Find Cities with the Most Customer Engagement (Votes)
   
   👉 Run this to see which cities have the most votes:

In [35]:
# Top 10 cities with the most restaurants
print(df['City'].value_counts().head(10))

City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Amritsar          21
Ahmedabad         21
Lucknow           21
Guwahati          21
Name: count, dtype: int64

📊 Step 2: Find Cities with the Most Unrated Restaurants

👉 Check how many unrated (0.0 rating) restaurants exist per city:

In [38]:
# Count of Not Rated (0.0) restaurants per city
df[df['Aggregate rating'] == 0.0]['City'].value_counts().head(10)

City
New Delhi         1425
Noida              384
Gurgaon            228
Faridabad          100
S��o Paulo           3
Davenport            2
Ghaziabad            2
Bras�_lia            1
Rio de Janeiro       1
Pocatello            1
Name: count, dtype: int64

Step 3: Compare High-Rated vs. Low-Rated Cities

👉 Find cities with the most highly rated (4.5+) restaurants:

In [41]:
# Count of high-rated restaurants (4.5+) per city
print(df[df['Aggregate rating'] >= 4.5]['City'].value_counts().head(10))

City
New Delhi         28
London            15
Gurgaon           12
Rio de Janeiro    11
Tampa Bay         10
Auckland           9
Bangalore          9
Dubai              9
Rest of Hawaii     9
Orlando            9
Name: count, dtype: int64

In [43]:
# Count of low-rated restaurants (<2.5) per city
print(df[df['Aggregate rating'] < 2.5]['City'].value_counts().head(10))

City
New Delhi     1522
Noida          429
Gurgaon        262
Faridabad      102
Ghaziabad        3
S��o Paulo       3
Davenport        2
Birmingham       1
Auckland         1
Nagpur           1
Name: count, dtype: int64

## 📊 Key Insights from City-Wise Analysis

### 1️⃣ Cities with the Most Restaurants
- **New Delhi (5473), Gurgaon (1118), and Noida (1080)** dominate the dataset.  
- These cities have a **high restaurant density**, making them major food hubs.

### 2️⃣ Cities with the Most Unrated (0.0) Restaurants
- **New Delhi (1425), Noida (384), Gurgaon (228)** have the highest number of **unrated** restaurants.  
- Indicates **low customer engagement or missing reviews** in these areas.

### 3️⃣ Cities with the Most High-Rated (4.5+) Restaurants
- **New Delhi has 28** highly-rated restaurants.  
- Other top-rated cities include **Gurgaon (12), Rio de Janeiro (11), and Tampa Bay (10)**.

### 4️⃣ Cities with the Most Poorly Rated (<2.5) Restaurants
- **New Delhi (1522), Noida (429), Gurgaon (262)** have the highest number of **poorly rated** restaurants.  
- **London (15) has the most low-rated restaurants internationally.**  
- **Bangalore, Dubai, and Auckland** also have a significant number of **low-rated** restaurants.

## 🔍 Key Takeaways:
- **New Delhi dominates** in both **restaurant count** and **low-rated/unrated** businesses.  
- **High-rated restaurants are fewer**, meaning **only a few truly excellent** places exist.  
- **Cities like Rio de Janeiro, Tampa Bay, and Auckland** have a **higher percentage of highly-rated restaurants**, indicating **better quality control**.

## 2️⃣ Cuisine Analysis

Step 1: Identify the Most Popular Cuisines

Objective: Find out which cuisines appear most frequently in the dataset.

In [51]:
# Top 10 most popular cuisines
print(df['Cuisines'].value_counts().head(10))

Cuisines
North Indian                      936
North Indian, Chinese             511
Chinese                           354
Fast Food                         354
North Indian, Mughlai             334
Cafe                              299
Bakery                            218
North Indian, Mughlai, Chinese    197
Bakery, Desserts                  170
Street Food                       149
Name: count, dtype: int64

📌 Step 2: Find Which Cuisines Have the Highest Ratings

Objective: Identify which cuisines get higher customer satisfaction (ratings).

In [55]:
# Average rating by cuisine (sorted)
print(df.groupby('Cuisines')['Aggregate rating'].mean().sort_values(ascending=False).head(10))

Cuisines
Italian, Deli               4.9
Hawaiian, Seafood           4.9
American, Sandwich, Tea     4.9
Continental, Indian         4.9
European, Asian, Indian     4.9
European, Contemporary      4.9
European, German            4.9
BBQ, Breakfast, Southern    4.9
American, Coffee and Tea    4.9
Sunda, Indonesian           4.9
Name: Aggregate rating, dtype: float64

📌 Step 3: Compare Local vs. International Cuisines

Objective: See if customers prefer local cuisines over international ones.

In [62]:
# Fill NaN values with an empty string before searching
df['Cuisines'] = df['Cuisines'].fillna('')

# Count restaurants serving international vs. local cuisines
print(df[df['Cuisines'].str.contains("Italian|Chinese|Mexican|American")].shape[0])  # Example for international cuisines
print(df[df['Cuisines'].str.contains("Indian|Filipino|Brazilian")].shape[0])  # Example for local cuisines

3670
4296

Find the Most Common Cuisines Overall

In [65]:
# Top 10 most popular cuisines
print(df['Cuisines'].value_counts().head(10))

Cuisines
North Indian                      936
North Indian, Chinese             511
Chinese                           354
Fast Food                         354
North Indian, Mughlai             334
Cafe                              299
Bakery                            218
North Indian, Mughlai, Chinese    197
Bakery, Desserts                  170
Street Food                       149
Name: count, dtype: int64

 Analyze Which Cuisines Have the Highest Ratings

In [74]:
# Average rating by cuisine (sorted)
print(df.groupby('Cuisines')['Aggregate rating'].mean().sort_values(ascending=False).head(10))

Cuisines
American, Caribbean, Seafood       4.9
American, BBQ, Sandwich            4.9
American, Coffee and Tea           4.9
American, Burger, Grill            4.9
Italian, Deli                      4.9
Mughlai, Lucknowi                  4.9
European, German                   4.9
European, Contemporary             4.9
European, Asian, Indian            4.9
Mexican, American, Healthy Food    4.9
Name: Aggregate rating, dtype: float64

📊 Key Insights from Cuisine Analysis

🍽️ Most Popular Cuisines (Top 10)

1️⃣ North Indian (936) – The most widely available cuisine.

2️⃣ North Indian, Chinese (511) – Fusion of Indian & Chinese is common.

3️⃣ Chinese (354) & Fast Food (354) – Equally popular.

4️⃣ Cafe (299) & Bakery (218) – Many restaurants serve these options.
    
5️⃣ Street Food (149) – Indicates strong demand for local snacks.

📌 Takeaway:

Indian cuisine dominates the dataset.
    
Fusion cuisines (Indian + Chinese, Indian + Mughlai) are common.
    
Fast Food & Bakery items are highly available across cities.
    
⭐ Highest Rated Cuisines (4.9 Rating)
    
1️⃣ American Cuisine (BBQ, Seafood, Coffee, Grill) – Consistently top-rated.
    
2️⃣ European Cuisine (German, Contemporary, Fusion with Asian & Indian) – Well-liked.
    
3️⃣ Mughlai, Lucknowi – One of the highest-rated Indian cuisines.
    
4️⃣ Mexican-American Healthy Food – Health-conscious dining is appreciated.

📌 Takeaway:

Fusion cuisines perform exceptionally well.
    
Customers love premium, Western-style meals.
    
Traditional Mughlai food is highly rated among Indian cuisines.

In [71]:
# Find the average rating for each price range
print(df.groupby('Price range')['Aggregate rating'].mean())

Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

📊 Key Insights from Price vs. Rating Analysis

📌 Price Ranges and Their Average Ratings:

1️⃣ Price Range 1 (Lowest): 1.99 ⭐

Budget-friendly restaurants have the lowest average ratings.

Likely due to lower quality, service, or food variety.

2️⃣ Price Range 2 (Affordable): 2.94 ⭐

Moderate improvement in ratings.

Some budget restaurants may offer better quality.

3️⃣ Price Range 3 (Mid-Range): 3.68 ⭐

Noticeable jump in customer satisfaction.

Suggests that mid-range restaurants offer better quality.

4️⃣ Price Range 4 (High-End): 3.81 ⭐

The highest-rated category.

Customers generally expect and receive better service & food quality in expensive places.

> Compare Ratings of Restaurants with vs. without These Services

In [81]:
# Average rating for restaurants with and without table booking
print(df.groupby('Has Table booking')['Aggregate rating'].mean())

# Average rating for restaurants with and without online delivery
print(df.groupby('Has Online delivery')['Aggregate rating'].mean())

Has Table booking
0    2.559359
1    3.441969
Name: Aggregate rating, dtype: float64
Has Online delivery
0    2.465296
1    3.248837
Name: Aggregate rating, dtype: float64

📊 Key Insights from Service Availability Analysis

🏷️ Impact of Table Booking on Ratings:

Restaurants without Table Booking (0): 2.56 ⭐ (Lower rating)

Restaurants with Table Booking (1): 3.44 ⭐ (Higher rating)

📌 What This Means:

✅ Restaurants with table booking get better ratings because:

Customers may prefer a more organized, hassle-free experience.
    
Likely to be higher-end restaurants with better service.
    
📦 Impact of Online Delivery on Ratings:
    
Restaurants without Online Delivery (0): 2.47 ⭐ (Lower rating)
    
Restaurants with Online Delivery (1): 3.25 ⭐ (Higher rating)

📌 What This Means:

✅ Restaurants with online delivery get higher ratings because:

Customers value convenience and easy access to food.
    
More people leave reviews due to a higher order volume.

 📊 Level 1 – Task 2: Descriptive Analysis

## 📌 **Objective**
- Understand the dataset using **descriptive statistics**.
- Analyze patterns in **key columns (cost, ratings, and services)**.
- Summarize **trends and insights** from the data.

---

## 1️⃣ **City-Wise Analysis 🌍**
### 🔹 **Top Cities by Restaurant Count**
- **New Delhi (5473), Gurgaon (1118), and Noida (1080)** have the **highest** number of restaurants.  
- Indicates **high food industry concentration** in these cities.

### 🔹 **Rated vs. Unrated Restaurants by City**
- **New Delhi (1425), Noida (384), Gurgaon (228)** have the most **unrated** restaurants.  
- Suggests **low customer engagement** in certain areas.

### 🔹 **Cities with the Highest Average Ratings**
- **Inner City (4.9), Quezon City (4.8), and Makati City (4.65)** have the highest-rated restaurants.  
- **New Delhi has the most high-rated restaurants (28).**

### 🔹 **Cities with the Most Low-Rated Restaurants**
- **New Delhi (1522), Noida (429), Gurgaon (262)** have the most **poorly rated** restaurants.  
- Suggests **quality issues** in certain areas.

### ✅ **Key Takeaways**
✔ **New Delhi dominates in restaurant count, but also has many unrated/low-rated places.**  
✔ **Some smaller cities have better average ratings than major food hubs.**  

---

## 2️⃣ **Cuisine Analysis 🍽️**
### 🔹 **Most Popular Cuisines**
| Rank | Cuisine | Count |
|------|-------------------------|-------|
| 1️⃣ | North Indian | 936 |
| 2️⃣ | North Indian, Chinese | 511 |
| 3️⃣ | Chinese | 354 |
| 4️⃣ | Fast Food | 354 |
| 5️⃣ | North Indian, Mughlai | 334 |
| 6️⃣ | Cafe | 299 |
| 7️⃣ | Bakery | 218 |
| 8️⃣ | North Indian, Mughlai, Chinese | 197 |
| 9️⃣ | Bakery, Desserts | 170 |
| 🔟 | Street Food | 149 |

- **Indian cuisine dominates** the dataset.
- **Fusion cuisines (North Indian + Chinese, North Indian + Mughlai) are common.**  
- **Fast food and bakery items are widely available.**  

### 🔹 **Highest-Rated Cuisines (4.9 Rating)**
| Cuisine | Rating |
|--------------------------|-------|
| American, Caribbean, Seafood | 4.9 |
| American, BBQ, Sandwich | 4.9 |
| American, Coffee and Tea | 4.9 |
| Italian, Deli | 4.9 |
| Mughlai, Lucknowi | 4.9 |
| European, German | 4.9 |
| Mexican, American, Healthy Food | 4.9 |

### ✅ **Key Takeaways**
✔ **Fusion cuisines perform exceptionally well.**  
✔ **American, European, and premium cuisines receive top ratings.**  
✔ **Traditional Indian cuisines like Mughlai & Lucknowi are highly rated.**  

---

## 3️⃣ **Price vs. Rating Analysis 💰**
| Price Range | Average Rating |
|------------|---------------|
| **1 (Low)** | **1.99 ⭐** |
| **2 (Affordable)** | **2.94 ⭐** |
| **3 (Mid-Range)** | **3.68 ⭐** |
| **4 (High-End)** | **3.81 ⭐** |

### ✅ **Key Takeaways**
✔ **Higher-priced restaurants get better ratings.**  
✔ **Mid-range (Price 3) restaurants still perform well, offering good value for money.**  
✔ **Cheaper restaurants struggle to get high ratings.**  

---

## 4️⃣ **Service Availability Analysis 📦**
| Service | Average Rating |
|-------------------|---------------|
| **No Table Booking (0)** | **2.56 ⭐** |
| **Table Booking Available (1)** | **3.44 ⭐** |
| **No Online Delivery (0)** | **2.47 ⭐** |
| **Online Delivery Available (1)** | **3.25 ⭐** |

### ✅ **Key Takeaways**
✔ **Restaurants with table booking receive better ratings.**  
✔ **Online delivery improves customer satisfaction.**  
✔ **Customers prefer convenience services like reservations & home delivery.**  

---

## 🎯 **Final Summary**
✔ **City-Wise Analysis** – Found top cities, rating patterns, and customer engagement.  
✔ **Cuisine Analysis** – Identified popular cuisines and top-rated food categories.  
✔ **Price vs. Rating Analysis** – Proved that expensive restaurants receive higher ratings.  
✔ **Service Availability Analysis** – Confirmed that table booking & online delivery improve satisfaction.  

---

In [88]:
# Save to CSV
df.to_csv('task2_dataset.csv', index=False)